{% extends "layout.html" %}
{% load static %}
{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark">
   <a class="navbar-brand" href="{% url 'home'%}">
    {% load static %}
      <img class="brand-image" src="{% static 'images/logo.png' %}" width="60" height="60">
          <strong> OptiFood</strong>
   </a>
   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collape navbar-collapse" id="navbarSupportedContent">
   <ul class="navbar-nav ms-auto" >
       <li class="nav-item">
           <a class="nav-link" href="{% url 'login'%}">Login</a>
       </li>
       <li class="nav-item">
           <a class="nav-link" href="{% url 'signup' %}">Signup</a>
       </li>
   </ul>
   </div>
</nav>
   <!--Section: Contact v.2-->
<section class="mb-4">

   <!--Section heading-->
   <div class="row">
      <div class="col-lg-2">
         <p></p>
      </div>
         <div class="col-lg-8">
   <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
   <!--Section description-->
   <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
       a matter of hours to help you.</p>

   <div class="row" style="padding-top: 0;">

       <!--Grid column-->
       <div class="col-md-12 mb-md-0 mb-5">
           <form id="contact-form" name="contact-form" action="mail.php" method="POST">

               <!--Grid row-->
               <div class="row">

                   <!--Grid column-->
                   <div class="col-md-6">
                       <div class="md-form mb-0">
                           <input type="text" id="name" name="name" class="form-control">
                           <label for="name" class="">Your name</label>
                       </div>
                   </div>
                   <!--Grid column-->

                   <!--Grid column-->
                   <div class="col-md-6">
                       <div class="md-form mb-0">
                           <input type="text" id="email" name="email" class="form-control">
                           <label for="email" class="">Your email</label>
                       </div>
                   </div>
                   <!--Grid column-->

               </div>
               <!--Grid row-->

               <!--Grid row-->
               <div class="row">
                   <div class="col-md-12">
                       <div class="md-form mb-0">
                           <input type="text" id="subject" name="subject" class="form-control">
                           <label for="subject" class="">Subject</label>
                       </div>
                   </div>
               </div>
               <!--Grid row-->

               <!--Grid row-->
               <div class="row">

                   <!--Grid column-->
                   <div class="col-md-12">

                       <div class="md-form">
                           <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                           <label for="message">Your message</label>
                       </div>

                   </div>
               </div>
               <!--Grid row-->

           </form>

           <div class="text-center text-md-left">
               <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
           </div>
           <div class="status"></div>
       </div>
       <!--Grid column-->

   </div>

</div>
</div>

</section>
<!--Section: Contact v.2-->

{% endblock %}  