{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="icon" type="image/png" sizes="16x16" href='{% static "/favicon-16x16.png"%}'>
        <link rel="manifest" href='{%static "/manifest.json" %}'>
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <link href="{% static 'styles.min.css' %}" type="text/css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">  
        {% block head %}

        {% endblock %}
    </head>
    <body>
        {% block body %}

        {% endblock %}
    </body>    
    <footer class="footer">
        <div class="row" style="padding-top: 1rem;  padding-bottom:1.5rem;">
            <div class="col-lg-1">
                <p></p>
            </div>
            <div class="col-lg-10">
                <a href="{%url 'contact'%}" class="contact">Contact Us!</a>
            </div>
        </div>        
    </footer> 
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script> 
</html>